<h6><a href="{{url}}archives.html">Archives</a></h6>
<h6><a href="{{url}}categories.html">Categories</a></h6>
<h6><a href="{{url}}tags.html">Tags</a></h6>
<h6><a href="{{url}}about.html">About</a></h6>